<table *ngIf="tags.length > 0">
    <thead>
        <th>Color</th>
        <th>Name</th>
        <th>Create Date</th>
        <th>Last Update</th>
        <th>Created by</th>
    </thead>

    <tbody>
        <tr *ngFor="let tag of tags">
            <td class="color"><div class="color-thumb" [ngStyle]="{'background-color' : tag.color}"></div></td>
            <td>{{ tag.title }}</td>
            <td>{{ tag.created | date: 'dd/mm/yyyy'}}</td>
            <td>{{ tag.modified | date: 'dd/mm/yyyy'}}</td>
            <td>{{ tag.creator }}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="tags.length === 0">
    Empty State
</div>